# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Full-Stack\Internet-service-client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
